.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0 0 15px #dedede;
}
.menu{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
}
.active{
  color: red;
}